<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>fixtureprev</servlet-name>
        <servlet-class>com.fantasy.fixtureprev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fixture</servlet-name>
        <servlet-class>com.fantasy.fixture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>com.fantasy.sign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmation</servlet-name>
        <servlet-class>com.fantasy.confirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.fantasy.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signout</servlet-name>
        <servlet-class>com.fantasy.signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playersData</servlet-name>
        <servlet-class>com.fantasy.playersData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playersSelection</servlet-name>
        <servlet-class>com.fantasy.playersSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allPlayers</servlet-name>
        <servlet-class>com.fantasy.allPlayers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playersSelectionTeam</servlet-name>
        <servlet-class>com.fantasy.playersSelectionTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findPosition</servlet-name>
        <servlet-class>com.fantasy.findPosition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBox</servlet-name>
        <servlet-class>com.fantasy.searchBox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enterTeam</servlet-name>
        <servlet-class>com.fantasy.enterTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autopick</servlet-name>
        <servlet-class>com.fantasy.autopick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmationTeam</servlet-name>
        <servlet-class>com.fantasy.confirmationTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInformation</servlet-name>
        <servlet-class>com.fantasy.GetInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFixture</servlet-name>
        <servlet-class>com.fantasy.getFixture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findOpponent</servlet-name>
        <servlet-class>com.fantasy.findOpponent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findOpp</servlet-name>
        <servlet-class>com.fantasy.findOpp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveTeam</servlet-name>
        <servlet-class>com.fantasy.saveTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findPoint</servlet-name>
        <servlet-class>com.fantasy.findPoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findPrice</servlet-name>
        <servlet-class>com.fantasy.findPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transfers</servlet-name>
        <servlet-class>com.fantasy.transfers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dream</servlet-name>
        <servlet-class>com.fantasy.dream</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fixtureprev</servlet-name>
        <url-pattern>/fixtureprev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fixture</servlet-name>
        <url-pattern>/fixture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmation</servlet-name>
        <url-pattern>/confirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playersData</servlet-name>
        <url-pattern>/playersData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playersSelection</servlet-name>
        <url-pattern>/playersSelection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allPlayers</servlet-name>
        <url-pattern>/allPlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playersSelectionTeam</servlet-name>
        <url-pattern>/playersSelectionTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findPosition</servlet-name>
        <url-pattern>/findPosition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBox</servlet-name>
        <url-pattern>/searchBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enterTeam</servlet-name>
        <url-pattern>/enterTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autopick</servlet-name>
        <url-pattern>/autopick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmationTeam</servlet-name>
        <url-pattern>/confirmationTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInformation</servlet-name>
        <url-pattern>/GetInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFixture</servlet-name>
        <url-pattern>/getFixture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findOpponent</servlet-name>
        <url-pattern>/findOpponent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findOpp</servlet-name>
        <url-pattern>/findOpp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveTeam</servlet-name>
        <url-pattern>/saveTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findPoint</servlet-name>
        <url-pattern>/findPoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findPrice</servlet-name>
        <url-pattern>/findPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transfers</servlet-name>
        <url-pattern>/transfers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dream</servlet-name>
        <url-pattern>/dream</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
