body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.intro-header2 {
    padding-top: 5%;
    background: url(../img/banner2.png) no-repeat center center;
    margin-top: 5%; 
    background-size: cover;

}

.extraClass {
    height: 130px; 
    position: relative;
}

.extraClassul {
    position: absolute;
    bottom: 0;
    font-family: arial;
}


.test{
    margin-top: 3%;
}


.btncustom:hover{
    background-color: #c8373b;
    color: #fff;
}

.prevbutton{
    background-color: #ecebeb; 
    border: none;
    color: black;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;

    cursor: pointer;
    width:140px;

}


.nextbtn{
    background-color: #ecebeb; 
    border: none;
    color: black;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    float:right;
    cursor: pointer;
    width:140px;


}






.tb-arrow{
    width: 10%;

}

.tb-rank{
    width: 30%;
}

.tb-name{
    width: 70%;
}

.out-head{
    width: 50%;
    float: left;
    font-family: arial;
    font-weight: lighter;
}

.in-head{
    width: 50%;
    float: right;
    font-family: arial;
    font-weight: lighter;
}



.teambox{
    width: 100%;
    height:50px; 
    border-top:3px solid black;
    background-color: #ebebe4;
}


.ranking{
    width: 100%;
}

.cleague{
    width: 100%;
}

.gleague{
    width: 100%;
}

.transfers{
    width: 100%;
}

.match:hover{
    background-color: #c8373b;
    color: #fff
}




.row2{
    display: flex;
    background-color: #e8e8e8;
}

.image-player-top{
    height: 25%;
    width: 50%;
    position: relative;
    left: 55.5px;
    margin-bottom: 3%;
}
