.bc-img{
    background:url(../img/pitch2.jpg) no-repeat;
    background-size: 100% 100%;
    padding-bottom: 7%;
}

.image-player{
    height: 85px;
    width: 70px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.name{
    font-family: Century Gothic;
    width:125px;
    border: 2px solid #144879;
    margin: 0;
    text-align: center;
    background-color: #144879;
    color: white;
    font-weight: bold;    
    padding: 0.25px;
    font-size: 14px;
    letter-spacing: 0.35px;
    opacity: 0.9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.opponent{
    font-family: Century Gothic;
    font-size: 12px;
    padding: 0px;
    width:125px;
    /* margin: 2px; */
    text-align:center;
    font-weight: bold;
    border: 0px solid #57a3f9;
    background-color: #57a3f9;
    height: 17px;
    padding-bottom: 16px; 
    margin-bottom: 10px;
    border-bottom-left-radius:3pt 3pt;
    border-bottom-right-radius:3pt 3pt;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.gkpoint,.cbpoint{
    font-family: Century Gothic;
    font-size: 12px;
    padding: 0px;
    width:125px;
    margin: 0;
    text-align:center;
    font-weight: bold;
    border: 0px solid #57a3f9;
    background-color: #57a3f9;
    height: 17px;
    padding-bottom: 5px;
    font-family: arial;
    margin-bottom: 10px;
    border-bottom-left-radius:3pt 3pt;
    border-bottom-right-radius:3pt 3pt;
}

.benpoint{
    font-family: Century Gothic;
    padding: 0px;
    width:130px;
    /* margin: 2px; */
    text-align:center;
    font-weight: bold;
    background-color: #57a3f9;
    height: 17px;
    /* padding-bottom: 16px; */
    margin-bottom: 10px;
    border-bottom-left-radius:3pt 3pt;
    border-bottom-right-radius:3pt 3pt;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.price{
    font-family: Century Gothic;
    font-size: 12px;
    padding: 0px;
    width:125px;
    /* margin: 2px; */
    text-align:center;
    font-weight: bold;
    border: 0px solid #57a3f9;
    background-color: #57a3f9;
    height: 17px;
    /* padding-bottom: 16px; */
    margin-bottom: 10px;
    border-bottom-left-radius:3pt 3pt;
    border-bottom-right-radius:3pt 3pt;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.captainImg{
    height: 34px;
    width: auto;
    /* position: relative; */
    /* margin-top: -14.5%; */
    /* margin-left: 27%; */
    /* margin-right: auto; */
    display: block;
}

.benpos{
    font-family: Century Gothic;
    width:130px;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 3px;
    font-size: 14px;
    opacity: 0.9;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pit-img{
    background:url(../img/bench0.jpg) no-repeat  ;
    background-size: 100% 100%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

