body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    background-color: #222427;
    border: none;
    height: 75px;
}

.extraClass {
    margin-top: 5.7%;
    width: 100%;
    height: 50px; 
    position: relative;
    background-color: #ac0f1f;
}

.extraClassul {
    position: absolute;
    bottom: 0;
    font-family: Century Gothic;
    padding-left: 50px;
}

.navbar-right{
    float:right!important;
    margin-top:23px;
}

.nav-pills>li>a{
    line-height: 0.9;
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 15px;
    border-radius: 0;
    margin-left: -1px;
    margin-right: -1px;
    padding: 16px;
}

.nav-pills>li>a:hover{
    border-color: #c8373b;
    background-color: #c8373b;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom-color: transparent;
    font-family: Century Gothic;
    font-size: 15px;
}

.nav-tabs>li.active>a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-family: Century Gothic;
    font-size: 15px;
}

.nav>li>a:focus {
    text-decoration: none;
    background-color: #c8373b;
}

.side-gap{
    margin-left: -15px;
}

.top-gap{
    margin-top: 2%;
}

.btncstm:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.joinbtn{
    font-family: Century Gothic;
    background-color:#ac0f1f;
    color:white;
    font-weight: lighter; 
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 1px;
    display: inline-block;
    cursor: pointer;
}

.joinbtn:hover{
    background-color: #84111c;
    text-decoration: none;
}

.renewbtn{
    font-family: Century Gothic;
    background-color:#1d3260;
    color:white;
    font-weight: lighter; 
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 1px;
    display: inline-block;
    cursor: pointer;
}

.renewbtn:hover{
    background-color:#050424;
    text-decoration: none
}

.league-header{
    width:100%;
    font-weight: bold;
    font-size: 15px;
    background-color: #e8e8e8;
    padding: 1%;
}

.tb-name{
    font-size: 14px;
    padding: 0.5%;
    padding-left: 1%;
    width: 30%;
}

.tb-arrow{
    text-align: center;
    width: 5%;
    font-size: 14px;
    padding: 0.5%;
    text-align: center;
}

.tb-rank{
    font-size: 14px;
    width: 20%;
    font-size: 14px;
    padding: 0.5%;
    text-align: center;
}