.modal-header{
    background: url(../img/banner-modal.png) no-repeat; 
    background-size: cover;
    padding: 6px;
}

.modal-header-info{
    background: url(../img/banner-modal.png) no-repeat; 
    background-size: cover;
    padding: 6px;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    height: 500px;
}

.glyphicon-arrow-left{
    top: 0;
    cursor: pointer;
}

button.close{
    font-size: 17px;
    font-weight: lighter;
    background-color: #908f9c;
    line-height: 1.3;
    padding-left: 7px;
    padding-right: 6px;
    padding-bottom: 1px;
    opacity: 1;
    color: white;
}

.close:hover{
    outline: 1px auto rgba(252, 249, 249, 0.52);
}

.addbutton{
    font-family: century gothic;
    width: 100%;
    background-color: #ac0f1f;
    color:white;
    height: 35px;
    font-size: 15px;
    text-align: center;
    font-weight:bold;
    margin-bottom: 2%; 
    border: 1px solid #ac0f1f;
    border-radius: 1px;
}

.addbutton:hover{
    background-color: #fff;
    color: #ac0f1f;
    border: 1px solid #ac0f1f;
}

.addbutton:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.infobutton{
    font-family: century gothic;
    color: white;
    width: 100%;
    background-color: #1d3260;
    font-size: 15px;
    height: 35px;
    text-align: center;
    font-weight:bold;
    margin-bottom: 0;
    border: 1px solid #1d3260;
    border-radius: 1px;
}

.infobutton:hover{
    background-color: white;
    color:#1d3260;
}

.infobutton:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.statsbtn{
    font-family: century gothic;
    font-size: 15px;
    padding: 3%;
    background-color:#fff;
    color: #2b2e32;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #2b2e32;
    border-radius: 1px;
    width:70%;
}

.statsbtn:hover{
    background-color: #2b2e32;
    color: #fff;
    text-decoration: none;
}

.statsbtn:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}