body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    background-color: #222427;
    border: none;
    height: 75px;
}

.extraClass {
    width: 100%;
    height: 130px; 
    position: relative;
    background-color: #ac0f1f;
}

.extraClassul {
    position: absolute;
    bottom: 0;
    font-family: Century Gothic;
    padding-left: 50px;
}

.navbar-right{
     float:right!important;
     margin-top:17px;
}

.nav-pills>li>a{
    margin-right: 3px;
    line-height: 1.42857143;
    border: 1px solid #476eb500;
    border-radius: 3px 3px 0 0;
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 15px;
}

.nav-pills>li>a:hover{
    border-color: #c8373b;
    background-color: #c8373b;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #c8373b;
}

.wrap{
  width: 80%;
  margin-left: 5%;
}

.ol, ul{
    margin-top: 0;
    margin-bottom: 0;
}

.top-gap{
    margin-top: 2%;
}


.btncustom:hover{
    background-color: #c8373b;
    color: #fff;
}

.prevbutton{
    background-color: #ecebeb; 
    border: none;
    color: black;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;

    cursor: pointer;
    width:140px;

}


.nextbtn{
    background-color: #ecebeb; 
    border: none;
    color: black;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    float:right;
    cursor: pointer;
    width:140px;


}

.enterteam{
    background-color: #ac0f1f; 
    border: none;
    color: black;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.bc-img{
    background:url(../img/pitch2.jpg) no-repeat  ;
    padding-bottom: 7%;
}

.gkname,.cbname{
    font-family: Century Gothic;
    width:120px;
    border: 2px solid #02509a;
    margin: 0;
    text-align: center;
    background-color: #02509a;
    color: white;
    font-weight: bold;
    padding-top: 0px;
    font-size: 14px;
    opacity: 0.9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.gkpoint,.cbpoint{
    font-family: Century Gothic;
    padding: 0px;
    width:120px;
    margin: 0;
    text-align:center;
    font-weight: bold;
    border: 0px solid #57a3f9;
    background-color: #57a3f9;
    height: 17px;
    padding-bottom: 5px;
    font-family: arial;
    margin-bottom: 10px;
    border-bottom-left-radius:3pt 3pt;
    border-bottom-right-radius:3pt 3pt;
}

.fixtures{
    width: 100%;
    margin-bottom: 5%;
    border-top:3px solid #1d3260;
    border-bottom:1px solid #e8e4e4;
    border-left: 1px solid #e8e4e4;
    border-right: 1px solid #e8e4e4;
    padding-left: 0;
    padding-right: 0;
}

.image-player{
        width: 26%;
        position: relative;
        left: 15px;
}

.image-player-cb{
        width: 93%;
        position: relative;
        left: 17px;
}

.image-player-for{
        width: 40%;
        position: relative;
        left: 17px;
}

.pit-img{
    background:url(../img/bench2.jpg) no-repeat  ;
 }
 
.cbname2{
    width:120px;
    border: 1px solid #02509a;
    margin: 0;
    text-align: center;
    background-color: #02509a;
    color: white;
    font-weight: bold;
    height: 21px;
    padding-top: 0px;
    font-family: arial;
    font-size: 14px;
    opacity: 0.9;
    filter: alpha(opacity=30);

}

.fixtures{
    width: 100%;
    margin-bottom: 5%;
    border-top:3px solid #1d3260;
    border-bottom:1px solid #e8e4e4;
    border-left: 1px solid #e8e4e4;
    border-right: 1px solid #e8e4e4;
    padding-left: 0;
    padding-right: 0;
}

.teambox{
    margin-top: 10%;;
    width: 100%;
    height:50px; 
    border-top:4px solid #050424;
}

.match:hover{
    background-color: #c8373b;
    color: #fff
}

.skor {
    letter-spacing: 2px;
    width: 9%; 
    left:8.05%;
    background-color:#1d3260;
    border-radius: 3pt 3pt;

}

.teambox{
    width: 100%;
    height:50px; 
    border-top:3px solid black;
    background-color: #ebebe4;
}


.ranking{
    width: 100%;
}

.cleague{
    width: 100%;
}

.gleague{
    width: 100%;
}

.transfers{
    width: 100%;
}
