
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    background-color: #222427;
    border: none;
    height: 75px;
}

.extraClass {
    margin-top: 5.7%;
    width: 100%;
    height: 50px; 
    position: relative;
    background-color: #ac0f1f;
}

.extraClassul {
    position: absolute;
    bottom: 0;
    font-family: Century Gothic;
    padding-left: 50px;
}

.navbar-right{
    float:right!important;
    margin-top:23px;
}

.nav-pills>li>a{
    line-height: 1.3;
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 15px;
    border-radius: 0;
    margin-left: -1px;
    margin-right: -1px;
    padding: 16px;
}

.nav-pills>li>a:hover{
    border-color: #c8373b;
    background-color: #c8373b;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom-color: transparent;
    font-family: Century Gothic;
    font-size: 15px;
}

.nav-tabs>li.active>a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-family: Century Gothic;
    font-size: 15px;
}

.nav>li>a:focus {
    text-decoration: none;
    background-color: #c8373b;
}

.top-gap{
    margin-top: 2%;
}

.side-gap{
    margin-left: -15px;
}

.btncstm:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.autopickbtn{
    background-color:#fff;
    color: #ac0f1f;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ac0f1f;
    border-radius: 1px;
    width:85%;
}

.autopickbtn:hover{
    background-color: #ac0f1f;
    color: #fff;
    text-decoration: none;
}

.resetbtn{
    background-color:#fff;
    color: #1d3260;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #1d3260;
    border-radius: 1px;
    width:85%;
}

.resetbtn:hover{
    background-color: #1d3260;
    color: #fff;
    text-decoration: none;
}

.enterteam{
    font-family: Century Gothic;
    font-size: 15px;
    width: 32%;
    color: white;
    background-color: #ac0f1f; 
    border: 1px solid #ac0f1f;
    vertical-align: middle;
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.enterteam:hover{
    background-color: #fff;
    color: #ac0f1f;
    text-decoration: none;
}

.enterteam:disabled{
    background-color: #d6d1d1;
    border: 1px solid #d6d1d1;
    color:white;
}

.fixturebtn{
    background-color: #696969; 
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #696969;
    border-radius: 1px;
    width:140px;
}

.image-player-cb{
    height: 90px;
    width: auto;
    position: relative;
    margin-left: 18px;
}

.fixturebtn:hover{
    background-color: #fff;
    color: #696969;
    text-decoration: none;
}

.fixtures{
    width: 100%;
    margin-bottom: 5%;
    border-top:3px solid #1d3260;
    border-bottom:1px solid #e8e4e4;
    border-left: 1px solid #e8e4e4;
    border-right: 1px solid #e8e4e4;
    padding-left: 0;
    padding-right: 0;
}

.fixturebtn:disabled{
    background-color: #d6d1d1;
    border: 1px solid #d6d1d1;
    color:white;
}

.match:hover{
    background-color: #c8373b;
    color: #fff
}

.skor {
    letter-spacing: 2px;
    width: 9%; 
    left:8.05%;
    background-color:#1d3260;
    border-radius: 3pt 3pt;
}

.row2{
    display: flex;
    background-color: #e8e8e8;
}

.skorlogol{
    width: 2%; 
    left: 1.55%
}

.skorlogor{
    width: 2%;
    left:6%
}

.teambox{
    margin-top: 10%;;
    width: 100%;
    height:50px; 
    border-top:4px solid #050424;
}

.form-control{
    width: 90%;
    margin-left: 5%;
    padding: 0;
    padding-left: 5px;
    height: 27px;
    font-size: 14px;
    font-weight: lighter;
    color: #5a5858;
    border-radius: 0px;
    border: 1px solid #000000;
    border-bottom: 1px solid #ac1f23;
    color: #000000;
    font-family: Century Gothic;
}

.form-control:focus {
    border-color: #000000;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.btn.lgbtn:focus{
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.btn.smallbtn:focus{
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.btn-circle {
    border: 1px solid #696969;
    background-color: #696969;
    color: white;
    text-align: center;
    height: 3rem;
    width: 3rem;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 100%;
}

.forbtn{
    padding: 3px 5px 4px 9px;
}

.backwbtn{
    padding: 3px 4px 4px 0px;
}

.smallbtn:hover {
    background-color: #a9a7a7;
    border: 1px solid #a9a7a7;
}

.smallbtn:disabled{
    background-color: #d6d1d1;
    border: 1px solid #d6d1d1
}

.btn-circle.btn-lg {
    border: 1px solid #696969;
    background-color: #696969;
    color: white;
    height: 3.95rem;
    width: 3.95rem;
    padding: 8px 10px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 100%;
}


.lgbtn:hover {
    background-color: #a9a7a7;
    border: 1px solid #a9a7a7;
}

.lgbtn:disabled{
    background-color: #d6d1d1;
    border: 1px solid #d6d1d1;
}

.underline:hover {
    text-decoration: underline
}

.addbutton{
    width: 100%;
    background-color: #c8373b;
    color:white;
    font-size: 14px;
    text-align: center;
    font-weight:lighter;
    margin-bottom: 2%;
    height: 30px; 
    border: 1px solid #ac0f1f;
    border-radius: 3pt;
    text-decoration: none;
}

.addbutton:hover{
    background-color: #84111c;
}

.infobutton{
    width: 100%;
    background-color: #ecebeb;
    font-size: 14px;
    text-align: center;
    font-weight:lighter;
    margin-bottom: 2%;
    height: 30px; 
    border: 1px solid #ecebeb;
    border-radius: 3pt;
    text-decoration: none;
}

.infobutton:hover{
    background-color: #a5a4a4;
    color:white;
}

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    font-family: Century Gothic;
    width: 98%;
    border: 1px solid #1d3260;
    padding: 0;
    padding-left: 9px;
    height: 27px;
    color: #555;
    background-color: #ecebeb;
    font-size: 14px;
    font-weight: lighter;
}

.searchTerm:focus{
    background-color: white;
    border-color: #1d3260;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.searchButton {
    position: absolute;
    width: 28px;
    height: 27px;
    border: none;
    background: #1d3260;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
}

.searchButton:focus{
    border-color: #1d3260;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 80%;
    margin-left: 5%;
}

.ol, ul{
    margin-top: 0;
    margin-bottom: 0;
}

.modal-header{
    background: url(../img/banner-modal.png) no-repeat; 
    background-size: cover;
    padding: 6px;
}

.modal-header-info{
    background: url(../img/banner-modal.png) no-repeat; 
    background-size: cover;
    padding: 6px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  height: 500px;
}

.glyphicon-arrow-left{
    top: 2px;
    cursor: pointer;
}

button.close{
    font-size: 17px;    
    font-weight: lighter;
    background-color: #908f9c;
    line-height: 1.3;
    padding-left: 7px;
    padding-right: 6px;
    padding-bottom: 1px;
    opacity: 1;
    color: white;
}

.close:hover{
    outline: 1px auto rgba(252, 249, 249, 0.52);
}

.addbutton{
    font-family: century gothic;
    width: 100%;
    background-color: #ac0f1f;
    color:white;
    height: 35px;
    font-size: 15px;
    text-align: center;
    font-weight:bold;
    margin-bottom: 2%; 
    border: 1px solid #ac0f1f;
    border-radius: 1px;
    text-decoration: none;
}

.addbutton:hover{
    background-color: #fff;
    color: #ac0f1f;
    text-decoration: none;
}

.addbutton:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.infobutton{
    font-family: century gothic;
    color: white;
    width: 100%;
    background-color: #1d3260;
    font-size: 15px;
    height: 35px;
    text-align: center;
    font-weight:bold;
    margin-bottom: 0;
    border: 1px solid #1d3260;
    border-radius: 1px;
    text-decoration: none;
}

.infobutton:hover{
    background-color: #fff;
    color: #1d3260;
    text-decoration: none;
}

.infobutton:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.statsbtn{
    font-family: century gothic;
    font-size: 15px;
    padding: 3%;
    background-color:#fff;
    color: #2b2e32;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #2b2e32;
    border-radius: 1px;
    width:70%;
}

.statsbtn:hover{
    background-color: #2b2e32;
    color: #fff;
    text-decoration: none;
}

.statsbtn:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(173, 175, 177, 0.34);
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

table {
    white-space: normal;
    line-height: normal;
    font-style: normal;
    color: -internal-quirk-inherit;
    font-variant: normal;
}

